/* HEADER */

.main-nav {
    margin-block-start: 0;
    padding-inline: 1.5em;
    background-color: white;
    border-block-end: 3px solid rgba(169, 169, 169, 0.768);
    height: 80px;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding-inline-start: 0;
        align-items: center;
        margin: 0;
        height: 100%;

        li span {
            background: linear-gradient(90deg, rgb(161, 24, 0), rgb(227, 22, 4));
            text-shadow: 1px 1px 2px red, 0 0 1em rgb(30, 26, 26), 0 0 0.2em rgb(68, 0, 0);
            color: white;
            border-radius: .4em;
            margin-inline-start: .1em;
            padding: .15em;
        }
    }

    .logo {
        display: flex;
        flex-direction: row;
    }

    h1 {
        font-size: 2em;
        color: rgb(31, 31, 31);
        cursor: pointer;
        transition: .2s ease-in-out;

        &:hover {
            scale: 1.1;
        }
    }

    .slogan {
        padding-inline-start: .5em;
        font-style: italic;
        align-self: flex-end;
        font-size: 1.5em;
    }


}